body {
  background: #02aab0;
  /* fallback for old browsers */
  background: linear-gradient( to right, #00cdac, #02aab0);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  text-align: center;
}

.container .h1 {
  padding: 1em 2em;
  color: whitesmoke;
  font-family: sans-serif;
}

.wrapper {
  display: inline;
  padding: 1.4em 2em;
  border-radius: 0.4em;
  background: #f6fafa;
  position: relative;
  color: #1c1e2d;
}

.container #filebtn {
  border: 0;
  background: none;
  font-size: 1em;
  padding-left: 0.2em;
  cursor: pointer;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}

.container .lable {
  font-size: 1.5em;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 5em;
}

#singleImage{
  flex: 25%;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
 

.column .img {
  width: 50%;
  display: none;
  border: 2px solid #e5e6e6;
}